/* UPDATE CSS */

.nav-item+.nav-item{
    margin-left: 10px;
}

.dashboard-package{
    margin: 10px 10px 10px;
}

.dashboard-package.disable{
    filter: brightness(0.5);
}

.banner{
    border-radius: 20px;
    margin-top: 10px;
}

.referral {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    /* width: 100%; */
    overflow: hidden;
    border: 1px solid var(--black);
    border-radius: 10px;
}

.referral-input {
    height: 100%;
    flex: 1;
    border: none;
    padding: 4px;
    padding-left: 10px;

    font-weight: 600;
    letter-spacing: 1px;
}

.referral-label {
    font-size: 15px;
    color: #000;
    font-weight: 600;
}

.referral-copy {
    height: 100%;
    padding: 4px 10px;
    background-color: var(--primary-dark);
    cursor: pointer;
}

.referral-copy:hover i {
    animation: buzz-out-on-hover 1s linear infinite alternate;
}

.referral-item .value{
    font-size: 20px;
    font-weight: 700;
}

/* Mobile Only */
@media (max-width: 739px) {
    .dashboard-package {
        margin: 0;
    }
}